<p id="notice"><%= notice %></p>

<h1>Attack Trees</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attack_trees.each do |attack_tree| %>
      <tr>
        <td><%= attack_tree.content %></td>
        <td><%= link_to 'Show', attack_tree %></td>
        <td><%= link_to 'Edit', edit_attack_tree_path(attack_tree) %></td>
        <td><%= link_to 'Destroy', attack_tree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attack Tree', new_attack_tree_path %>
